doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
    link(href='/vendor/metisMenu/metisMenu.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/stylesheets/css/sb-admin-2.css', rel='stylesheet')
    // Custom Fonts
    link(href='/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  body
      div#wrapper
          // Navigation
          nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
              .navbar-header
                  button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                  a.navbar-brand(href='/') NodeJs
              // /.navbar-header
              ul.nav.navbar-top-links.navbar-right

                  li.dropdown
                      a.dropdown-toggle(data-toggle='dropdown', href='#')
                          i.fa.fa-user.fa-fw
                          i.fa.fa-caret-down
                      ul.dropdown-menu.dropdown-user
                          li
                              a(href='#')
                                  i.fa.fa-user.fa-fw
                                  |  User Profile
                          li
                              a(href='#')
                                  i.fa.fa-gear.fa-fw
                                  |  Settings
                          li.divider
                          li
                              a(href='login.html')
                                  i.fa.fa-sign-out.fa-fw
                                  |  Logout
                      // /.dropdown-user
                  // /.dropdown
              // /.navbar-top-links
              .navbar-default.sidebar(role='navigation')
                  .sidebar-nav.navbar-collapse
                      ul#side-menu.nav
                          li.sidebar-search
                              .input-group.custom-search-form
                                  input.form-control(type='text', placeholder='Search...')
                                  span.input-group-btn
                                      button.btn.btn-default(type='button')
                                          i.fa.fa-search
                              // /input-group
                          li(class=(menu === 'Home' ? 'active' : ''))
                              a(href='/')
                                  i.fa.fa-dashboard.fa-fw
                                  |  Dashboard
                          li(class=(menu === 'TaskList' ? 'active' : ''))
                              a(href='/Tasks')
                                  i.fa.fa-bar-chart-o.fa-fw
                                  |  Task List
                          li
                              a(href='#')
                                  i.fa.fa-table.fa-fw
                                  |  Tables
                          li
                              a(href='#')
                                  i.fa.fa-edit.fa-fw
                                  |  Forms
                  // /.sidebar-collapse
              // /.navbar-static-side
          // Page Content
          #page-wrapper
              .container-fluid
                  block content
              // /.container-fluid
          // /#page-wrapper

      //script section
      script(src='/vendor/jquery/jquery.min.js')
      // Bootstrap Core JavaScript
      script(src='/vendor/bootstrap/js/bootstrap.min.js')
      // Metis Menu Plugin JavaScript
      script(src='/vendor/metisMenu/metisMenu.min.js')
      // Custom Theme JavaScript
      script(src='/javascripts/js/sb-admin-2.js')